<% include partials/header %>
<% include partials/showCarparks %>
<div class="container" id="weather">
  <b style="text-align: center">
    Weather Next 2 Hours:
    <% if (isRaining) { %>
    <img src="./images/rain.png" alt="Rain">
    <% } else { %>
    <img src="./images/shine.png" alt="Shine">
    <% } %>
  </b>
</div>

<div class="container" id="preloader">
  <div class="item-1"></div>
  <div class="item-2"></div>
  <div class="item-3"></div>
  <div class="item-4"></div>
  <div class="item-5"></div>
</div>
<div class="container" id="main"></div>
</div>

<% include partials/footer %>